.List {
    color: red;
    list-style-type: upper-roman;
    font-weight: bold;
    font-size: 28px;
    font-family: cursive;
    margin-top: 10px;
    text-align: right; 
}
.List li:hover {
	cursor: alias;
}
